@model AuctionModel
@{
    ViewData["Title"] = "UpdateAuction";
}
  <div class="container">
        <form method="post" enctype="multipart/form-data" asp-action="UpdateAuction" asp-controller="Auction">
            <input asp-for="@Model.AuctionID" type="hidden" />
            <div class="form-group">
                <label asp-for="@Model.AuctionName"></label>
                <input asp-for="@Model.AuctionName" class="form-control" id="">
                <span asp-validation-for="@Model.AuctionName" class=""></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.AuctionPrice"></label>
                <input asp-for="@Model.AuctionPrice" class="form-control" id="">
                <span asp-validation-for="@Model.AuctionPrice"></span>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="@Model.AuctionStartingDate"></label>
                    <input asp-for="@Model.AuctionStartingDate" class="form-control" id="">
                    <span asp-validation-for="@Model.AuctionStartingDate"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.AuctionEndingDate"></label>
                    <input asp-for="@Model.AuctionEndingDate" class="form-control" id="">
                    <span asp-validation-for="@Model.AuctionEndingDate"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Discription"></label>
                <input asp-for="@Model.Discription" class="form-control" id="">
            </div>
            <div class="form-group">
                <input type="submit" value="UploadBook" class="btn btn-primary" />
            </div>
        </form>
</div>




